# Tuple Operations in Python

### Printing Tuples

In [1]:
my_tup = (1, 2, 3, 4)

In [2]:
print(my_tup)

(1, 2, 3, 4)

In [3]:
type(my_tup)

tuple

In [4]:
len(my_tup)

4

In [5]:
my_tup = (1, "2", True)

In [6]:
print(my_tup)

(1, '2', True)

### Tuple Methods

In [7]:
my_tup = (1, 2, 2, 3, 3, 4)

In [8]:
print(my_tup)

(1, 2, 2, 3, 3, 4)

In [10]:
print(my_tup.count(2))

2

In [11]:
print(my_tup.count(4))

1

In [12]:
print(my_tup.index(2))

1

In [13]:
print(my_tup.index(4))

5

### Tuple Re-assignment (not possible)

In [14]:
my_tup[0] = 2

TypeError: 'tuple' object does not support item assignment

### Nested Tuples and Lists

In [15]:
my_tup = ((1, 2, 3), "One", True)

In [16]:
print(my_tup)

((1, 2, 3), 'One', True)

In [17]:
print(my_tup[0])

(1, 2, 3)

In [18]:
print(my_tup[0][1])

2

In [19]:
my_tup = (1, ["Toronto, Canada"], 3)

In [20]:
print(my_tup)

(1, ['Toronto, Canada'], 3)

In [21]:
print(my_tup[1])

['Toronto, Canada']

In [28]:
print(my_tup[1][1])

TypeError: 'tuple' object is not callable